@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Prompt&display=swap');
#demo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 background-color:lightgray;
}
body h1{
    text-align:center;
    color: brown;
}


